div.side-status.segment {
  border-radius: .28571429rem 0 .28571429rem .28571429rem;
  float: right;
  margin-top: 0px;
  height: 100vh;
}
.image-label {
  padding-left: 0.72px;
}
div.ui.image.status.label {
  padding: 15px;
  width: 7.8rem !important;
}
.image-ship {
  padding: 3rem 0 0 1.2rem ;
}
div.basic.segment {
  margin-bottom: unset;
}
div.basic.segment.small {
  margin-top: unset;
  display: block;
}
div.main.area{
  margin-top: 40px;
}
div.ui.container.map {
  float: left;
  width: 75vw;
  display: flex;
  flex-flow: row wrap;
  padding: 4rem 0 0 10vw;
}
.container-child {
  /*width: 7vw;*/
  height: 4rem;
  border: 0.5px solid #b0b5b9;
  background-color: #c9ced2;
}

#score-section {
  background-color: #80808059;
  clear: both;
  height: 100vh;
  width: 100vw;
}

div.ui.segment.splash-view {
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.92);
  margin: unset;
  border-radius: unset;
  overflow: auto;
  position: fixed;
  text-align: center;
}

div.ui.segment.splash-view::after {
  filter: blur(10px);
}

#navigation {
  max-height: 2.8571rem;
  position: relative;
}

#navigation.loaded {
  position: fixed;
}

table.field {
  margin: auto;
  margin-top: 3rem;
}

.wrong {
  background-image: url("../images/splash.png");
  background-size: contain;
}

.hit {
  background-image: url("../images/explosion.png")
}

.cells {
  height: 3.5rem;
  width: 3.5rem;
  background-color: #8080808c;
  border: 0.5px solid gray;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
}

h2.ui.center.aligned.header.splash {
  color: white;
  transform: translateY(30vh);
  font-size: 2.5rem;
}

h2.header > div.sub.header.splash {
  color: #9c9898;
}

button.ui.button.playing {
  transform: translateY(30vh);
}

button.ui.labeled.button.play-again {
  transform: translateY(30vh);
}

/* button.ui.button {
  transform: translateY(30vh);
} */

.hidden {
  display: none;
}

.show {
  display: block;
}

div.ui.form.player-input {
  transform: translateY(30vh) translateX(40vw);
  width: 20vw;
  margin: 2rem 0;
  border-radius: 0.5rem;
  background-color: #80808026;
  padding: 2rem;
}

#flash-message {
  font-size: 1.2rem;
  transform: translateX(32vw);
  position: absolute;
  color: red;
  margin-top: 3rem;
}


.ui.form .field > label.label-player {
  color: #9c9898;
  font-size: 1.2rem;
}
